html, body {
margin: 0;
padding: 0;
font-family: 'Lato', sans-serif;
font-weight: 300;
}



/*header*/

.header {
  background: #CED6D6 /* #4e4e4e  #9E7F7D  #5f5f5f */;

}
.header img {
  /*border: 3px solid #fff;*/
  padding-right: 20;
  /* margin: 10px 0;*/
}

.header ul li {
  display: inline-block;

  /* margin-top:15px;
  padding: 4px 10px;*/
}

.header li a {
  /*background:#fff;*/
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px 10px;
}
.header li a:hover {
  color: #9fbbbb;
}

/*main*/

.main {
background: url(../img/sFAerial.jpg) no-repeat center center;
background-size: cover;
height: 600px;
border-top: 6px solid #ffead9;
border-bottom: 6px solid #ffead9;

}

.main .container {
  position: relative;
  top:250px;
  text-align: right;

}
.main h1 {
  text-transform: uppercase;
  color: #ffead9;
  font-size: 60px;
  font-weight: bold;
}

.main p {
  color: #fff;
}


/*footer*/

.footer {

  /*width: 100%;*/
  background: #CED6D6/* #303030 #ced6d6*/;
  color: #fff;
  padding: 20px 0;


}
.footer ul li {
  list-style: none;
  display: inline-block;


}
.footer ul {
  margin: 0;
  padding: 0;
}

/* .footer a {
  text-decoration: none;
  color: #88BBD6;
  font-weight: bold;

} */
.footer p {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  height: 25px;
  line-height: 25px;
}
.footer #git {
  padding-left: 20px;
}
